$textColor: white;
$TypeFace: "Roboto Mono", monospace;

body {
  background-color: black;
}

#relCourse {
  font-size: x-large;
}

div {
  color: white;
  font-family: $TypeFace;
}

#univ,
.card {
  margin-top: 40px;
  background: transparent;
}

.list-group-item {
  background: transparent;
  border-style: soild;
  border-color: white;
}
