body {
    background-color: #162447;
    color: white;
}

.container {
    border: none;
    background-color: transparent;
}

.top-text {
    font-size: 1.25em;
    padding: 0;
}

.top-row {
    margin-top: 2em;
}

.card,
.list-group-item {
    background-color: transparent;
    padding: .2em;
    border: none;
}

.card-body {
    margin: 0;
    padding: 0 1em;
}

.top-wrap {
    margin: 1em 0;
    background-color: transparent;
    border: none;
    width: max-content;
}

.contact {
    margin: 1em 0 0;
    padding: 0;
    color: white;
}

.textNav {
    width: 95vw;
}

@media screen and (max-width: 350px) {
    .textLink {
        font-size: .7em;
    }
}

@media screen and (max-width: 300px) {
    .emailMe {
        font-size: .9em;
    }
}

a {
    color: white;
}

a:hover {
    color: white;
}

img {
    max-width: 100%;
    margin: 1em 0 0;
}

.secTitle {
    margin-top: .5em;
    color: rgb(255, 237, 141);
}

.education {
    background-color: transparent;
}

p {
    margin: .5em 0;
    font-size: large;
}

.t {
    background-color: transparent;
}

ul {
    padding: 0;
}

.project {
    margin: 1em 0;
}

.card-link {
    padding: .25em;
    border: 1px solid white;
    border-radius: .25em;
}

.My-Name {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em;
    /* Adjust as needed */
    animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}