.card {
    color: white;
    margin-top: 20vh;
    background: transparent;
    border-style: double;
    border-color: red;
    font-family: "Roboto Mono", monospace;
  }

  h5 {
      font-size: 2.5vh;
  }

  #email{
      white-space: nowrap;
  }