$textColor: white;
$TypeFace: "Roboto Mono", monospace;
$HorizontalMargin: 20px;

body {
  background-color: black;
}

div {
  color: $textColor;
  font-family: $TypeFace;
}

#proj {
  border: none;
}

.btn {
    background-color: transparent;
    border-color: white;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: white !important;
    border-color: white !important;
    color:black !important;
    box-shadow: none;
}

h5 {
  padding: 5px;
  border-style: none none dotted none;
}

.card {
  margin-top: 40px;
  margin-left: $HorizontalMargin;
  margin-right: $HorizontalMargin;
  background: transparent;
  border-style: solid;
  border-color: white;
}
