$textColor: white;
$TypeFace: "Roboto Mono", monospace;

body {
  background-color: black;
}

div {
  color: white;
  font-family: $TypeFace;
}

.card {
  margin-top: 40px;
  background: transparent;
}

.list-group-item {
  background: transparent;
  border-style: soild;
  border-color: white;
}
