$navBarMargins: 50px;
$textColor:white;
$TypeFace: 'Roboto Mono', monospace;

body 
{
    background-color: black;
}

@media (max-width: 10010px) {
    .nav-link {
        color: $textColor;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        font-size: large;
        font-family: $TypeFace;
        border: none;
    }

    h1 {
        font-size: 25px;
    }

    h4 {
        font-size: 15px;
    }
} 

@media (min-width: 1011px) {
    .nav-link {
        color: $textColor;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        font-size: x-large;
        font-family: $TypeFace;
        border: none;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 35px;
    }
} 

.nav-link:hover{
    color: $textColor;
    text-decoration: line-through;
}

#NavBar {
    border-style: none none dashed none;
    border-width:  .3vh;
    border-color: grey;
}

div {
    color: white;
    font-family: $TypeFace;
}

#name {
    background-color: black;
    position: relative;
    height: 14rem;
    padding-top: 80vh;
  }
  
.jumbotron {
    background-color: black;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  h1 {
    text-decoration: underline;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }